body {
margin: 0;
font-family: 'Playfair Display SC', serif;
font-size: 18px;
background: url("../site-cv/img/003.jpeg");

color: white;

}

h1, h2, h3 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*container */

.container {
    
width: 100%;
max-width: 1170px;
margin: o auto;


    
    }


/* header */
.header {
    padding: 20px 0;
    background: url("../site-cv/img/003.jpeg");
    background: rgba(5, 0, 0, 0.884); 
    border-bottom: 1px solid #ff0000;
    

}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}


/*  NAV */

.nav {
font-size: 16px;
font-weight: 700;
text-transform: uppercase;


}

.nav_link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    
    opacity: .75;
    transition: opacity .2s
    linear;
}

.nav_link:first-child {
    margin-left: 0;
}

.nav_link:hover {
    text-decoration: underline;
    opacity: 1;

}



.intro {
width: 100%;
height: 100vh;
background: rgba(5, 0, 0, 0.884);
}

.ava {
    width: 45%;
    float: left;
    align-items: center;
    
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 20px;
    text-align: center;
}

.photo {
    width: 70%;
    padding-top: 40px;
}


.info {
width: 100%;
text-align: center;
font-size: 28px;
font-weight: 100%;
}
.prof {
    color: red;
    font-size: 28px;
}

.contacts {
    font-size: 32px;
    width: 100%;
    
    padding-top: 10%;
}

.contactsinf {
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
    font-family: bold;

}


.phone, .mail {
    margin-top: 30px;
    text-align: center;
    
}

.phone a, .mail a {
    color: red;
    font-style: normal;
    text-decoration: none;
    opacity: .75;
    transition: opacity .2s
    linear;
}

.mail a:hover {
    text-decoration: underline;
    opacity: 1; 
}
.phone a:hover {
    text-decoration: underline;
    opacity: 1;  
}



/* Навыки и знания*/






.subtitle {
font-size: 30px;
text-align: center;
align-items: center;
float: right;
margin-top: 40px;

}

.skills {
    
    list-style-type: none;
    font-size: 28px;
}

.red {
    color: red;
    padding: 10px;
}

.title {
    text-align: center;
    
}

.video{

width: 70%;
height: 100vh;
margin: 0 auto;
margin-top: 10%;
display: block;
text-align: center
}