@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Old Standard TT', serif;
    background: url(../site-cv/img/111.jpeg);
    padding: 100px 0;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.container {
    width: 1200px;
    min-height: 500px;
    border: 10px solid white;
    margin: 0 auto;
    background:#fff;
}

.header {
    display: flex;
    height: 210px;
    
}

.title-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 40px;
    background: url(../site-cv/img/222.jpeg) no-repeat center center;
    background-size: cover;
    color: #fff;
    margin-right: 10px;
}

.title-block::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
}

.title {
    position: relative;
    z-index: 1;
}

.userpic {
    display: flex;
    height: 100%;
    width: 20%;
   
    background: url(../site-cv/img/myFoto.jpeg) no-repeat center center;
    background-size: cover;
}

.nav ul{
    display: flex;
    background: black;
    margin: 10px 0;
}



.nav li a {
    
    font-size: 20px;
    display: flex;
    padding: 20px;
    text-decoration: none;
    color:#fff;
    border-right: 1px solid rgb(255, 255, 255);
    transition: background .5s ease;
    
    
}

.nav li a:hover {
    color: rgb(231, 1, 1);
    background: rgb(20, 20, 20);
    transform: translateX(10px);
}

.content-wrapper {
    display: flex;
}

.content {
    width: 100%;
    padding: 20px;
    background: url(../site-cv/img/333.jpeg) no-repeat center center;
    background-size: cover;
    color: #fff;

}


.skills {
text-align: center;
}

.skills li {
    padding: 10px;
    font-size: 26px;
   transition: transform .5s ease;
    
}

.skills li:hover {
    transform: translateX(10px);
}

.content-sert {
    margin-top: 20px;
    display: flex;
    min-height: 500px;
}

.title__sert {
    width: 100%;
}
.title-sert {
    margin: 20px;
}

.sertone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-height: 100%;
    background: url(../site-cv/img/444.JPG) no-repeat center center;
    background-size: cover;
    color: #fff;
    margin-right: 10px;
    border: 2px solid red;

}

.serttwo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-height: 100%;
    background: url(../site-cv/img/555.jpeg) no-repeat center center;
    background-size: cover;
    color: #fff;
    border: 2px solid red;
}



.phone, .mail {
    margin-top: 30px;
    text-align: center;
    font-size: 26px;
    
}

.phone a, .mail a {
    color: #fff;
    font-style: normal;
    text-decoration: none;
    transition: opacity .2s
    linear;
}

.mail a:hover {
    
    opacity: 1; 
    font-size: 28px;
    color: red;
}
.phone a:hover {
    
    opacity: 1;  
    font-size: 28px;
    color: red;
}
.bgr {
    background: url(../site-cv/img/666.jpeg);
}

.title_git {
    font-size: 20px;
    font-style: italic;
    padding-top: 30px;
    text-align: center;
}

.title_git p {
color: #fff;
}

.github {
    padding-top: 10px;
    width: auto;
    height: 100px;
    color: #fff;
    transition: transform .5s ease;
    opacity: .5;
}

.github:hover {
    transform: translateX(10px);
    opacity: 1;
    height: 110px;

}