body {
margin: 0;
font-family: 'Old Standard TT', serif;
font-size: 18px;
background: url("../img/003.jpeg");
background-color: black;
color: white;
}

* {
    box-sizing: border-box;
}

/*container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: o auto;
    
    }

/* header */
.header {
    background: rgba(5, 0, 0, 0.884); 
    
    border-bottom: 1px solid #ff0000;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/*  NAV */

.nav {
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .2s
    linear;
}

.nav_link:hover {
    text-decoration: underline;
    opacity: 1;

}

.name {
    text-transform: uppercase;
}


.intro {
width: 100%;
height: 100vh;
background: rgba(5, 0, 0, 0.884);


}

.ava {
    width: 45%;
    float: left;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.photo {
    width: 70%;
    padding-top: 40px;
}
.ava {
padding: 20px;
text-align: center;
}

.info {
width: 100%;
text-align: center;
font-size: 20px;
font-weight: 100%;
}

.contacts {
    font-size: 32px;
    width: 45%;
    float: right;
    padding-top: 10%;
}

.contactsinf {
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
    font-family: bold;

}


.phone, .mail {
    margin-top: 30px;
    text-align: center;
    
}

.phone a, .mail a {
    color: red;
    font-style: normal;
    text-decoration: none;
    opacity: .75;
    transition: opacity .2s
    linear;
}

.mail a:hover {
    text-decoration: underline;
    opacity: 1; 
}
.phone a:hover {
    text-decoration: underline;
    opacity: 1;  
}



/* Навыки и знания*/



.title {
text-transform: uppercase;
padding-top: 40px;
width: 100%;
font-size: 50px;

text-align: center;
}

.subtitle {
font-size: 30px;
text-align: center;
padding: 20px;
}

.skills {
    text-align: center;
    list-style-type: none;
}

.red {
    color: red;
    padding: 10px;
}

.video{

width: 70%;
height: 100vh;
margin: 0 auto;
margin-top: 10%;
display: block;
text-align: center
}